.tintuc-main {
    padding-top: 180px;
    background: var(--White-2-BGR, #F2F2F2);

    @media screen and (max-width: 990px) {
        padding: 110px 0px 0px 0;
    }

    &-detail {
        padding: 24px;
        background: #fff;
        border-radius: 12px;

        h2 {
            color: var(--Blue-w, #1388ED);
            text-align: justify;
            font-size: 24px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            text-transform: uppercase;
        }

        .meta-data {
            display: flex;
            width: 35%;
            gap: 35px;

            .date {
                display: flex;
                gap: 8px;
                align-items: baseline;
            }

            .time {
                display: flex;
                gap: 8px;
                align-items: baseline;
            }
        }

        .entry-content {
            p {
                color: var(--Black-3-Text, #5C5C5C);
                text-align: justify;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
            }
        }
    }

    .sidebar {
        padding: 24px;
        background: #fff;
        border-radius: 12px;

        @media screen and (max-width: 420px) {
            display: none;
        }

        &-chitiettintuc {
            h5 {
                color: var(--Blue-w, #1388ED);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 25px;
                display: flex;
                gap: 15px;

                i {
                    font-size: 30px;
                }
            }

            article {
                width: 100%;

                .animate-box {
                    border-radius: 10px;
                    width: 100%;
                    display: flex;
                    gap: 10px;
                    transition: transform 0.3s;
                    padding: 5px;

                    &:hover {
                        transform: scale(1.05);
                        /* Khi hover, ảnh trở nên lớn hơn (trồi lên) */
                        box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.45);
                    }


                    img {
                        width: 120px;
                        height: 80px;
                        border-radius: 8px;
                    }

                    h3 {
                        color: var(--Black-3-Text, #5C5C5C);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;

                        /* 150% */
                        @media screen and (max-width: 990px) {
                            font-size: 13px;
                            line-height: 21px;
                        }
                    }
                }

                hr {
                    color: #5C5C5C;
                    margin: 20px 0px;
                }
            }

            .image-box {
                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 20px;
                }
            }
        }
    }

    .tintuc-related {

        // padding: 50px;
        .st-heading {
            color: var(--Blue-w, #1388ED);
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 25px;
        }

        .items_tintuc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 0;
            border-radius: 10px;

            &:hover {
                border: 1px solid #1388ED;
            }

            &:hover .content h2 {
                color: #1388ED;
            }

            img {
                width: 100%;
                border-radius: 10px 10px 0px 0px;
            }

            .content {
                display: flex;
                height: 200px;
                width: 100%;
                display: flex;
                padding: 12px;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                background: var(--White, #FFF);
                gap: 5px;
                border-radius: 0px 0px 10px 10px;

                h2 {
                    color: var(--Black-4-Text, #404040);
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    /* 133.333% */
                    margin: 0;
                }

                .thoi-gian {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    p {
                        display: flex;
                        align-items: baseline;
                        gap: 7px;
                        color: var(--Black-4-Text, #404040);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        /* 150% */
                        margin: 0;
                    }
                }

                .noi_dung {
                    color: var(--Black-4-Text, #404040);
                    text-align: justify;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                    margin: 0;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}