.footer {


    &-top {

        height: 360px;
        padding: 48px 80px;
        background: #012C4D;

        @media screen and (max-width: 990px) {
            padding: 48px 15px;
        }

        @media screen and (max-width: 420px) {
            height: auto !important;
            padding: 20px 15px;

        }

        .logo {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 150px;
            width: 100%;

            @media screen and (max-width: 420px) {
                height: 135px;
                width: 175px;
            }
        }

        .info {
            h4 {
                color: #E7EBEE;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;

                /* 150% */
                @media screen and (max-width: 990px) {
                    font-size: 15px;
                }

                @media screen and (max-width: 420px) {
                    font-size: 11px;
                }
            }


            .icon {
                color: #fff;
                display: flex;
                align-items: flex-start;
                gap: 15px;
                justify-content: center;
                align-items: center;

                svg {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        h3 {
            color: #E7EBEE;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 120% */
        }

        ul {
            display: flex;
            padding: 18px 0px 0px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 4.141px;
        }

        li {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            line-height: 28.05px;
            list-style: none;

            @media screen and (max-width: 990px) {
                font-size: 15px;
            }

            /* 175.312% */
            @media screen and (max-width: 420px) {
                font-size: 11px;
            }
        }
    }

    &-bottom {
        display: flex;
        padding: 10px 40px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        background: #011C34;
        @media screen and (max-width: 990px) {
            padding-bottom: 60px;
        }

        p {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            text-align: center;
        }
    }
}

.list-unstyled {
    li {
        a {
            color: #fff;
        }
    }
}

.footer-item {
    h3 {
        a {
            color: #fff;
        }
    }
}